 <div class="flex items-center justify-center h-screen mt-0">
    <div class="w-full max-w-md bg-transparent">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="flex items-center justify-center flex-wrap gap-4">
         <div class="mb-6">
            <%= f.label :email, class:"text-sm font-medium text-gray-700 block mb-2" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"w-full px-3 py-2 rounded-md border border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" %>
          </div>
          <div class="mb-6">
            <%= f.label :password, class:"text-sm font-medium text-gray-700 block mb-2" %>
            <%= f.password_field :password, autocomplete: "new-password", class:"w-full px-3 py-2 rounded-md border border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" %>
          </div>
            <div class="actions mb-4 mt-8 gap-2 flex justify-center ">
              <%= link_to "Forgot your password?", new_password_path(resource_name), class:"inline-flex items-center px-4 py-2 bg-rose-400 text-white rounded-md hover:bg-indigo-700 font-medium" %><br />
              <%= link_to "Back",root_path, class:"inline-flex items-center px-4 py-2 bg-rose-400 text-white rounded-md hover:bg-indigo-700 font-medium"%>
            </div>
          <div class="actions mb-4 mt-8 gap-2 flex justify-center ">
             <%= f.submit "Log in", class:'flex  justify-center h-26 w-32 mx-auto sm:h-26 sm:w-32  border-2 border-gray-400 dark:border-gray-700 font-semibold text-black dark:text-black rounded-xl  hover:bg-pink-200  my-6 py-2' %>
          </div>
          <% end %>
    </div>
  </div>

<style>
    .bg-transparent {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 20px;
  }
</style>
